/* Table of Content
==================================================
	1.0  -  Custom Class
	2.0  -  Browser Fix
	3.0  -  DT Responsive*/

/*--------------------------------------------------------------
	1.0 - Custom Class
	--------------------------------------------------------------*/

a.video-image span:after {
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.title_uppercase {
	text-transform: uppercase;
}

.title_bold {
	font-weight: bold;
}

/* http://prntscr.com/dydrzx = Reseller Hosting page */

.extend-bg-fullwidth-left.vc_col-has-fill>.vc_column-inner,
.extend-bg-fullwidth-right.vc_col-has-fill>.vc_column-inner {
	position: relative;
}

.extend-bg-fullwidth-left:not(.vc_col-has-fill):after,
.extend-bg-fullwidth-right:not(.vc_col-has-fill):after,
.extend-bg-fullwidth-left.vc_col-has-fill>.vc_column-inner:after,
.extend-bg-fullwidth-right.vc_col-has-fill>.vc_column-inner:after {
	content: "";
	display: inline !important;
	height: 100%;
	position: absolute;
	top: 0;
	width: 9999px;
	z-index: -1;
}

.extend-bg-fullwidth-left:not(.vc_col-has-fill):after,
.extend-bg-fullwidth-left.vc_col-has-fill>.vc_column-inner:after {
	z-index: 0;
	right: 100%;
}

.extend-bg-fullwidth-right:not(.vc_col-has-fill):after,
.extend-bg-fullwidth-right.vc_col-has-fill>.vc_column-inner:after {
	z-index: 0;
	left: 100%;
}

.extend-bg-fullwidth-left:after,
.extend-bg-fullwidth-right:after,
.extend-bg-fullwidth-left.vc_col-has-fill>.vc_column-inner:after,
.extend-bg-fullwidth-right.vc_col-has-fill>.vc_column-inner:after {
	background-color: inherit;
}

.dt-sc-special-testimonial-container .extend-bg-fullwidth-left:after,
.dt-sc-special-testimonial-container .extend-bg-fullwidth-right:after {
	background: none;
}

.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left:not(.vc_col-has-fill):after,
.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left.vc_col-has-fill>.vc_column-inner:after {
	right: 0;
	transform: skewX(-30deg) translateX(18px);
	z-index: 0;
	box-shadow: 8px 0 0 0 #fff;
}

.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left:not(.dt-col-static-position)>.vc_column-inner {
	position: relative;
	z-index: 1 !important;
}

.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left.vc_col-has-fill>.vc_column-inner:before {
	left: 0;
	transform: skewX(-30deg) translateX(-32px);
}

.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left[class*="dt-skin-"],
.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-right[class*="dt-skin-"] {
	background-color: transparent;
}

a.video-image span {
	font-size: 40px;
	position: relative;
	height: 75px;
	width: 75px;
	line-height: 75px;
	color: #fff;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

a.video-image span:after {
	position: absolute;
	display: block;
	content: "";
	height: 75px;
	width: 75px;
	line-height: 75px;
	border-radius: 50%;
	background: #2b2b2b;
	color: #fff;
	-webkit-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.35);
	-moz-box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.35);
	box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.35);
	z-index: -1;
	top: 0;
	left: -2px;
}

a.video-image span:hover:after {
	background: #fff;
}

.image-overlay-icon .vc_single_image-wrapper {
	position: relative;
}

.image-overlay-icon .vc_single_image-wrapper:before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	position: absolute;
}

.image-overlay-icon a.video-image {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.gradient-parallax:before {
	content: "";
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background: -moz-linear-gradient(left, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.72) 30%, rgba(229, 229, 229, 0) 40%, rgba(229, 229, 229, 0) 100%);
	background: -webkit-linear-gradient(left, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.72) 30%, rgba(229, 229, 229, 0) 40%, rgba(229, 229, 229, 0) 100%);
	background: linear-gradient(to right, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.72) 30%, rgba(229, 229, 229, 0) 40%, rgba(229, 229, 229, 0) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f2f3f6', endColorstr='#00e5e5e5', GradientType=1);
}

.gradient-parallax .gradient-content {
	z-index: 9;
	padding-right: 45px;
}

.social-share-h2 h2 {
	font-size: 28px;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 30px;
}

.tt_tabs_navigation li a {
    width: auto !important;
    display: block;
    text-align: center;
    color: #666 !important;
    padding: 18px 20px !important;
    background: #f0f0f0;
    border-bottom: 0;
    line-height: normal;
    outline: none;
    text-decoration: none;
    font-size: 15px !important;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    transition: none !important;
    margin-bottom: 0px;
	border-left: 5px solid rgba(0, 0, 0, 0.10);
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

	::i-block-chrome,
	.safari-hack.vc_row.vc_row-flex {
		display: block !important;
	}
}

/*.vc_row.vc_row-flex, .vc_row.vc_row-flex > .vc_column_container*/

/*----*****---- << Vc Column custom class >> --****--*/

.rs_no-padding_column.wpb_column,
.vc_col-md-12.wpb_column.rs_no-padding_column {
	margin-top: -1px;
	padding-bottom: 0;
	margin-bottom: 0;
}

/* http://prntscr.com/dydqdv */

.light-overlay:before {
	background: rgba(255, 255, 255, 0.8);
}

/* http://prntscr.com/dydsrd  = Model Home page contact section */

.dark-overlay:before {
	background: rgba(0, 0, 0, 0.8);
}

/*----*****---- << Gray Scale >> --****--*/

/* http://prntscr.com/dydr06 = Hotel Our Firm Page */

.gray-scale:hover,
.gray-scale:hover img {
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-ms-filter: grayscale(1);
	-o-filter: grayscale(1);
	filter: grayscale(1);
	-webkit-transition-property: -webkit-filter;
	-moz-transition-property: -moz-filter;
	-ms-transition-property: -ms-filter;
	-o-transition-property: -o-filter;
	transition-property: filter;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-ms-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}

/*----*****---- << Text with icon >> --****--*/

/* http://prntscr.com/dydrax = Fitness Zone Home Page */

.dt-sc-text-with-icon {
	width: 100%;
	clear: both;
	float: left;
	font-weight: bold;
	padding: 12px 0px 12px 20px;
}

.dt-sc-text-with-icon span {
	font-size: 18px;
	margin: 0px 7px 0px 0px;
	position: relative;
	top: 2px;
	font-weight: bold;
}

.dt-sc-text-with-icon.border-bottom {
	border-bottom: 1px solid;
}

.dt-sc-text-with-icon.border-right {
	border-right: 1px solid;
}

.dt-sc-dark-bg .dt-sc-text-with-icon span {
	color: #ffffff;
}

.contact-frm2 .wpcf7-form-control.wpcf7-submit {
	margin: 0 auto;
	text-align: center;
	display: inherit;
}

.wpcf7-form.contact-frm2 .ajax-loader {
	margin: auto;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

/*** .buddypress ***/

.buddypress-wrap div.feed {
	background: #dedede;
	background-clip: border-box;
	line-height: 44px;
	width: 80px;
	text-align: center;
	border-radius: 0;
}

.buddypress-wrap.bp-dir-hori-nav:not(.bp-vertical-navs) nav:not(.tabbed-links) {
	border-bottom: 0px;
	border-top: 0px;
	box-shadow: 0 0 0 0;
	background: #f9f9f9;
}

.buddypress-wrap:not(.bp-single-vert-nav) .main-navs>ul>li>a {
	padding: .8em calc(.8em + 2px);
}

#buddypress ul.item-list li img.avatar {
	border: 0px solid;
}

.activity-list .activity-item .activity-header {
	width: 100%;
}

body #buddypress div .pag-count {
	padding: 20px 0;
}

#buddypress ul.item-list li {
	min-height: 120px;
	position: relative;
	list-style-type: none;
	clear: both;
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	padding-left: 105px;
}

#buddypress ul.item-list li .activity-avatar,
#buddypress ul.item-list li .item-avatar {
	position: absolute;
	left: 15px;
	top: 15px;
	max-width: 75px;
	overflow: hidden;
}

.buddypress-wrap .activity-inner {
	font-size: 14px;
}

#buddypress .activity-list li.load-more a {
	color: #fff;
	font-weight: bold;
}

#buddypress .activity-list li.load-more {
	margin-bottom: 50px;
	margin-top: 30px;
	padding: 0;
}

.buddypress-wrap .activity-list .load-more a {
	padding: 0.8em 0;
}

.buddypress-wrap:not(.bp-single-vert-nav) .main-navs>ul>li>a {
	text-transform: uppercase;
	font-weight: bold;
}

.buddypress-wrap .select-wrap select {
	padding: 6px 40px 6px 15px;
}

#groups-dir-list #pag-top.pagination {
	margin-bottom: 25px;
}

#pag-top.pagination .pagination-links .page-numbers {
	color: #fff;
	padding: 10px;
}

#groups-dir-list #pag-top.pagination .pagination-links .page-numbers:hover {
	background-color: #000;
}

#buddypress #pag-bottom.pagination {
	margin-bottom: 100px;
}

#members-dir-list {
	margin: 30px 0;
}

.activity-read-more {
	margin-left: 20px;
}

.buddypress-wrap .dir-search form.bp-dir-search-form {
	padding: 8px;
	height: 49px;
}

.buddypress-wrap .dir-search form.bp-dir-search-form button[type=submit] {
	margin-top: 0;
}

.buddypress-wrap .dir-search form.bp-dir-search-form input[type=search] {
	margin-bottom: 0;
}

.buddypress-wrap .bp-messages.info {
	margin-bottom: 30px;
}

#activation-form input {
	margin-bottom: 50px;
}

.buddypress .buddypress-wrap input[type="submit"] {
	border: 0;
	padding: 11px 20px;
	font-size: 16px;
	color: #fff;
	float: right;
}

.dt-inline-modal .dt-sc-tabs-vertical-content {
	padding-top: 0;
}

a.woocommerce-Button.button {
	padding: 10px 20px;
	line-height: normal;
}

/*----*****---- << Hosting Domain Page Table >> --****--*/

/* http://prntscr.com/dydxr3 = Hosting Domain Page */

.hosting-table {
	border-top: 0px;
	font-family: 'Open Sans', sans-serif;
}

.hosting-table th {
	background: #e1e1e1;
	border-radius: 5px 5px 0px 0px;
	color: #000000;
	font-weight: 600;
	font-size: 16px;
	border-right: 1px solid #ffffff;
	padding: 20px 15px;
}

.hosting-table tr td,
.hosting-table tbody tr:nth-child(2n+1) td {
	background: rgba(0, 0, 0, 0.95);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 0px;
	font-size: 16px;
	font-weight: 600;
	padding: 25px 15px;
}

.hosting-table tbody tr td:last-child,
.hosting-table tr th:last-child {
	border: none;
}

.hosting-table tbody tr:nth-child(2) td {
	background: rgba(0, 0, 0, 0.9);
}

.hosting-table tbody tr:nth-child(3) td {
	background: rgba(0, 0, 0, 0.85);
}

.hosting-table tbody tr:nth-child(4) td {
	background: rgba(0, 0, 0, 0.8);
}

.hosting-table tbody tr:nth-child(5) td {
	background: rgba(0, 0, 0, 0.75);
}

.hosting-table tbody tr:nth-child(6) td {
	background: rgba(0, 0, 0, 0.7);
}

.hosting-table tbody tr:nth-child(7) td {
	background: rgba(0, 0, 0, 0.65);
}

.hosting-table tbody tr:nth-child(8) td {
	background: rgba(0, 0, 0, 0.6);
}

.hosting-table tbody tr:nth-child(9) td {
	background: rgba(0, 0, 0, 0.55);
}

.hosting-table tbody tr:nth-child(10) td {
	background: rgba(0, 0, 0, 0.5);
}

.hosting-table tbody tr:nth-child(11) td {
	background: rgba(0, 0, 0, 0.45);
}

.hosting-table tbody tr:nth-child(12) td {
	background: rgba(0, 0, 0, 0.4);
}

.hosting-table tbody tr td:first-child {
	position: relative;
}

.hosting-table tbody tr td:first-child:before {
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: #60ae0d;
	z-index: -1;
}

.hosting-table tbody tr td.new,
.hosting-table tbody tr td.hot {
	position: relative;
	overflow: hidden;
}

.hosting-table tbody tr td.new:before,
.hosting-table tbody tr td.hot:before {
	content: "New";
	position: absolute;
	left: -20px;
	top: 5px;
	padding: 2px 22px;
	background: #60ae0d;
	color: #ffffff;
	font-size: 12px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.hosting-table tbody tr td.hot:before {
	content: "Hot";
	background: #e80505;
	padding: 2px 24px;
}

/*----*****---- << Spa rounded corner image >> --****--*/

/* http://prntscr.com/dydylt = Spa */

.dt-sc-partially-rounded-alt {
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.vc_min_height_right.wpb_column.vc_col-sm-6 {
	margin-left: 30px;
	width: calc(50% - 30px);
}

/* http://prntscr.com/e0ka7y *
	
	/*----*****---- << Image Caption With Counter >> --****--*/

/* http://prntscr.com/dydzek = Image caption counter */

.dt-sc-image-caption-with-counter {
	counter-reset: image-caption-counter;
}

.dt-sc-image-caption-with-counter h3 {
	counter-increment: image-caption-counter;
}

.dt-sc-image-caption-with-counter h3:before {
	content: counter(image-caption-counter, decimal-leading-zero);
	font-size: 36px;
	font-weight: 600;
	border-bottom: 2px solid;
	float: left;
	margin: -10px 20px 0px 0px;
	padding: 0px;
}

.dt-sc-image-caption-with-counter h3:before {
	font-family: 'Open Sans', sans-serif;
}

/*----*****---- << Photography Readmore Plus >> ----*****----*/

/* http://prntscr.com/dydzxp = Photography */

.dt-sc-readmore-plus-icon:before,
.dt-sc-readmore-plus-icon:after {
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.dt-sc-readmore-plus-icon {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
}

.dt-sc-readmore-plus-icon:before,
.dt-sc-readmore-plus-icon:after {
	content: "";
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
}

.dt-sc-readmore-plus-icon:before {
	height: 1px;
	width: 30px;
}

.dt-sc-readmore-plus-icon:after {
	height: 30px;
	width: 1px;
}

.dt-sc-readmore-plus-icon:before,
.dt-sc-readmore-plus-icon:after {
	background: #ffffff;
}

.dt-sc-readmore-plus-icon {
	background: #000000;
}

.dt-sc-readmore-plus-icon:hover {
	background: rgba(0, 0, 0, 0.8);
}

/*----*****---- << Nightclub Home page Social icons >> ----*****----*/

.diamond-narrow-square-border li:before {
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.diamond-narrow-square-border li a {
	color: #000000;
}

.diamond-narrow-square-border li a:hover {
	color: #ffffff;
}

/*----*****---- << Procedures >> ----*****----*/

.procedures-wrapper {
	background: #f5f5f5;
	float: left;
	width: 100%;
}

.procedures-wrapper img {
	float: left;
	margin: 0;
	width: 100%;
}

.procedures-wrapper ul.dt-sc-fancy-list {
	margin: 0;
}

.procedures-wrapper .dt-sc-specials-list {
	width: auto;
}

.procedures-wrapper .dt-sc-specials-list li:first-child {
	padding-top: 0px !important;
}

.procedures-detail {
	display: block;
	float: left;
	height: 100%;
	padding: 35px 6% 25px;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}

.procedures-detail:after,
.procedures-detail:before {
	border-color: #d2ccc3;
	border-style: dashed;
	content: "";
	position: absolute;
}

.procedures-detail:before {
	border-width: 1px 0;
	bottom: 10px;
	left: 0;
	right: 0;
	top: 10px;
	width: 100%;
}

.procedures-detail:after {
	border-width: 0 1px;
	bottom: 0;
	height: auto;
	left: 10px;
	right: 10px;
	top: 0;
	width: auto;
}

.procedures-detail .dt-sc-specials-list li:before {
	content: none;
}

/*----*****---- << Callout Boxes >> ----*****----*/

.dt-sc-callout-box {
	width: 100%;
	margin: 0px;
	padding: 25px 3%;
	float: left;
}

.dt-sc-callout-box h4 {
	text-transform: none;
	margin-bottom: 8px;
	font-size: 18px;
	font-weight: normal;
	color: #d77d31;
}

.dt-sc-callout-box h5 {
	font-size: 16px;
	font-weight: normal;
	text-transform: none;
	color: #ac9d8e;
	margin-bottom: 0px;
}

.dt-sc-callout-box .dt-sc-callout-content {
	width: 76%;
	float: left;
	margin-right: 2%;
}

.dt-sc-callout-box .dt-sc-button {
	float: right;
}

.dt-sc-callout-box img {
	float: left;
	margin: 0px 20px 0px 0px;
}

.dt-sc-callout-box.with-icon h4 {
	margin-top: 20px;
}

.dt-sc-callout-box .icon {
	width: 65px;
	height: 65px;
	float: left;
	margin: -5px 20px 0px 0px;
	text-align: center;
	line-height: 70px;
	font-size: 36px;
	border-radius: 65px;
}

.dt-sc-callout-box.with-icon {
	padding: 25px 3% 25px 2%;
}

.dt-sc-callout-box.type5 {
	border-left: 1px solid;
	background: #e6e5d9 url(../images/textured-pattern.png) repeat;
	position: relative;
	padding: 35px 3%;
}

.dt-sc-callout-box.type1 h2 {
	font-size: 28px;
	text-transform: uppercase;
}

.dt-sc-callout-box.type1.aligncenter p a.dt-sc-button,
.dt-sc-callout-box.type3.aligncenter p a.dt-sc-button,
.dt-sc-callout-box.type4.aligncenter p a.dt-sc-button {
	float: none;
	/* margin: 25px 5px 0px 5px; */
}


.dt-sc-callout-box.type2.border-style {
	position: relative;
}

.dt-sc-callout-box.type2.with-icon.border-style .dt-sc-button {
	margin-left: 0;
}

.dt-sc-callout-box.type2.with-icon.border-style.alignleft>img {
	float: left;
	margin: 0 30px 0 0;
}



.dt-sc-callout-box.type2.with-icon.alignleft:not(.border-style).border-style a.dt-sc-button,
.dt-sc-callout-box.type2.with-icon.alignright.border-style a.dt-sc-button {
	margin-top: 15px !important;
}

.dt-sc-callout-box.type2.with-icon.alignleft.border-style,
.dt-sc-callout-box.type2.with-icon.alignright.border-style {
	border: solid 1px #e6e6e6;
	background-color: transparent;
}

.dt-sc-callout-box.type2.with-icon.border-style.alignright>img {
	float: right;
	margin-bottom: 0;
	margin-right: 0px;
	margin-left: 20px;
}

.dt-sc-callout-box.type2.with-icon.border-style.alignright {
	padding-left: 20px;
}

.dt-sc-callout-box.type2.with-icon.border-style h2,
.dt-sc-callout-box.type2.with-icon.border-style p {
	width: auto;
}

.dt-sc-callout-box.type2.with-icon.alignleft:not(.border-style) {
	background: #fff;
	border-left: 5px solid;
	border-left-color: currentcolor;
	padding: 30px;
	display: inline-block;
	position: relative;
	width: 100%;
}

.dt-sc-callout-box.type2 h2 {
	font-size: 22px;
}

.dt-sc-callout-box.type2.with-icon.alignleft:not(.border-style) .dt-sc-button {
	float: left;
	margin-bottom: 30px;
}

.dt-sc-callout-box.type2.with-icon.alignleft:not(.border-style) h2,
.dt-sc-callout-box.type2.with-icon.alignleft:not(.border-style) p {
	width: 65%;
	float: left;
	padding: 0 30px;
	margin-bottom: 30px;
}

.dt-sc-callout-box.type2.with-icon.alignleft:not(.border-style) p~div {
	float: left;
}

.dt-sc-callout-box.type2.with-icon.alignleft:not(.border-style) {
	padding: 0;
}

.dt-sc-callout-box.type2.with-icon.alignleft:not(.border-style)>img {
	float: left;
	margin: 20px 0px 20px 20px;
}

.dt-sc-callout-box.type2.with-icon.alignright>img {
	float: right;
}

.dt-sc-callout-box.type2.with-icon h2 {
	font-size: 20px;
	margin: 25px 0 20px 0;
}

.dt-sc-callout-box.type2.with-icon .dt-sc-button {
	margin-left: 25px;
	float: left;
}

.dt-sc-callout-box.type2.with-icon:after,
.dt-sc-callout-box.type2.with-icon:before {
	display: none;
}

.dt-sc-callout-box.type2.with-icon.alignright, .dt-sc-callout-box.type2.with-icon.alignleft {
	padding: 0;
	text-align: left;
}

.dt-sc-callout-box.type3 {
	padding: 0;
}

.dt-sc-callout-box.type3 h2 {
	text-transform: uppercase;
	font-size: 30px;
}

.dt-sc-callout-box.type4 {
	border: 0px;
}

.dt-sc-callout-box.type5 {
	border: 0px;
	background-color: #fcfcf7;
}

.dt-sc-callout-box.type6 {
	margin: 20px 0px;
	background: #e6e5d9 url(../images/textured-pattern.png) repeat;
	position: relative;
}

.dt-sc-callout-box.type6 h4 {
	display: none;
}

.dt-sc-callout-box.type6 h5 {
	font-size: 14px;
	line-height: 28px;
}

.dt-sc-callout-box.type6 img~h5 {
	margin-top: 20px;
}

.dt-sc-callout-box.type6.with-icon h5 {
	margin-top: 20px;
}

.dt-sc-callout-box.type6.with-icon .dt-sc-button {
	margin-top: 30px;
}

.dt-sc-callout-box.type6 .dt-sc-button {
	margin-top: 9px;
}

.dt-sc-callout-box.type6:before {
	content: "";
	position: absolute;
	border: 1px dashed #d2c4b9;
	border-left: 0px;
	border-right: 0px;
	height: 86%;
	width: 100%;
	left: 0px;
	top: 10px;
}

.dt-sc-callout-box.type6:after {
	content: "";
	position: absolute;
	background: url(../images/textured-border.png) repeat-x;
	height: 6px;
	width: 100%;
	left: 0px;
	bottom: -6px;
}

.dt-sc-callout-box.type6 h4 {
	font-size: 18px;
	text-transform: none;
	font-weight: normal;
	margin-bottom: -10px;
	margin-top: 10px;
}

.dt-sc-callout-box.type7 {
	margin: 20px 0px;
	padding: 0px;
	width: 100%;
}

.dt-sc-callout-box.type7 img {
	float: left;
	margin: 0px 40px 0px 0px;
}

.dt-sc-callout-box.type7 h5 {
	font-size: 14px;
	line-height: 28px;
	margin-top: 20px;
}

.dt-sc-callout-box.type7.with-icon .dt-sc-button {
	margin-top: 70px;
}

.dt-sc-callout-box.type7.with-icon h5 {
	margin-top: 0px;
}

.dt-sc-callout-box.type7 h4 {
	font-size: 18px;
	text-transform: none;
	font-weight: normal;
}

/*Workout Details*/

.trainer-details li:before {
	display: none;
}

.trainer-details li strong {
	width: 50%;
	display: inline-block;
}

.trainer-details li span {
	float: none !important;
}

.trainer-details li {
	font-size: 14px !important;
	padding: 5px 0 !important;
}

/*--------------------------------------------------------------
	2.0 - Browser Fix
	--------------------------------------------------------------*/

/* IE9 and above override */

@media screen and (min-width:0\0) {
	.dt-sc-contact-details-on-map .dt-sc-map-overlay {
		padding: 71px 0 0;
	}
}

/* IE9 only override */

.ie9 .dt-sc-contact-details-on-map .dt-sc-map-overlay {
	padding: 72px 0 0;
}

.bp-navs ul li .count {
	border-radius: 0px;
}

.pagination-links span,
.pagination-links a {
	padding: 10px;
	color: #fff;
}

#buddypress div.pagination .pagination-links a.page-numbers:hover {
	color: #ffffff;
}

body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-header-content {
	margin-top: 235px;
}

body.single-item.groups #buddypress div#item-header #item-header-cover-image #item-actions {
	margin-top: 0px;
}

#bbpress-forums #bbp-search-form input#bbp_search_submit,
#bbpress-forums div.bbp-search-form #bbp_search {
	height: 59px;
	margin-bottom: 15px;
	margin-top: 0;
}

.vc_row.vc_row-no-padding.header2-menu .vc_column-inner, .vc_row.vc_row-no-padding.header2-menu .about-mega-menu{padding-left:15px; padding-right:15px;}

@media only screen and (min-width:1200px) and (max-width:1380px) {

	/* 
	.dt-sc-callout-box.type2.with-icon.alignleft:not(.border-style)>img,
	.dt-sc-callout-box.type2.with-icon.alignright>img {
		width: 35%;
	} */
	.dt-sc-callout-box.type2.with-icon.alignleft:not(.border-style).border-style a.dt-sc-button,
	.dt-sc-callout-box.type2.with-icon.alignright.border-style a.dt-sc-button {
		margin-top: 0px !important;
	}
}

#bbpress-forums li.bbp-header,
.bbp-submit-wrapper #bbp_topic_submit,
.bbp-reply-form #bbp_reply_submit,
.bbp-pagination-links a:hover,
.bbp-pagination-links span.current,
#bbpress-forums #subscription-toggle a.subscription-toggle {
	color: #ffffff;
}

#bbpress-forums li .fa {
	padding-right: 5px;
}

#bbpress-forums li {
	padding-bottom: 0;
}

/*--------------------------------------------------------------
	3.0 - DT Responsive
	--------------------------------------------------------------*/

/* Note: Design for a width of 960px */

@media only screen and (min-width:992px) and (max-width:1199px) {
	.bmi-section-left {
		width: 40%;
	}

	.bmi-section-right {
		width: 60%;
	}

	.bmi-section-right h2 {
		margin-top: 25px;
	}


	/*----*****---- << Hosting >> ----*****----*/
	.hosting-contact-info-container .dt-sc-contact-info.type7 span {
		left: 10px;
	}

	/*----*****---- << Restaurant >> ----*****----*/
	.dt-sc-contact-details-on-map .dt-sc-map-overlay {
		padding: 72px 0 0;
	}

	/*----*****---- << Miscellaneous >> ----*****----*/
	.dt-sc-text-with-icon {
		font-size: 13px;
	}

	.dt-sc-image-caption.type8 .dt-sc-image-title h6 {
		line-height: normal;
	}
}

/* Note: Design for a width of 768px */

@media only screen and (min-width:768px) and (max-width:991px) {
	.dt-sc-text-with-icon {
		font-size: 11px;
	}

	/*.gym-man-position { width: 100%; text-align: center; }*/
	.gym-man-position img {
		position: absolute;
		top: 56px;
		left: 0;
	}

	.vc_row.vc_row-no-padding .dt-sc-map-overlay .wpb_column.vc_col-sm-3 {
		padding-left: 5px;
		padding-right: 5px;
	}

	.vc_row.vc_row-no-padding .dt-sc-map-overlay .wpb_column.vc_col-sm-3 .dt-sc-contact-info.type3 {
		font-size: 13px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.vc_row.vc_row-no-padding .dt-sc-map-overlay .wpb_column.vc_col-sm-3 .dt-sc-contact-info.type3 h6 {
		font-size: 15px;
	}

	.dt-sc-contact-details-on-map .dt-sc-map-overlay {
		padding: 76px 0 0;
	}

	.rs_line_height p {
		line-height: normal !important;
	}

	/*----*****---- << Event >> ----*****----*/
	.dt-sc-content-with-hexagon-shape {
		margin-left: 16%;
	}

	.event-colored-box {
		margin-top: 0;
	}

	.event-contact-info {
		margin-left: 25%;
	}

	/*----*****---- << Architecture >> ----*****----*/
	.architecture-process.rs_padding_override {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}

	.column.wpb_column.dt-sc-one-fifth.vc_col-md-4 {
		width: 32%;
		margin-bottom: 20px;
		min-height: 290px;
	}

	.column.wpb_column.dt-sc-one-fifth.vc_col-md-4:nth-child(4),
	.column.wpb_column.dt-sc-one-fifth.vc_col-md-4:nth-child(10) {
		margin-left: 0;
	}

	.secondary-skin-gradient .dt-sc-contact-info,
	.secondary-skin-gradient .dt-sc-contact-info span {
		font-size: 40px;
	}

	/*----*****---- << callout-box >> ----*****----*/
	.dt-sc-callout-box .dt-sc-three-fourth {
		width: 68%;
	}

	.dt-sc-callout-box .dt-sc-one-fourth {
		width: 30%;
	}

	.dt-sc-callout-box h4,
	.dt-sc-callout-box.type7 h4 {
		font-size: 16px;
	}

	.dt-sc-callout-box h5 {
		font-size: 14px;
		line-height: 20px;
	}

	/*.dt-sc-callout-box img { max-width:120px; }*/
	.dt-sc-callout-box.with-icon h4 {
		margin-top: 10px;
	}
	.dt-sc-callout-box.type2.with-icon.alignleft:not(.border-style) h2, .dt-sc-callout-box.type2.with-icon.alignleft:not(.border-style) p{ width: 75%;}
}

/*----*****---- << Mobile (Landscape) >> ----*****----*/

/* Common Styles for the devices below 767px width */

@media only screen and (max-width: 767px) {
	.gym-man-position img {
		position: static;
		border-bottom: 1px solid #fff;
		margin-bottom: 30px
	}

	.fitnesszone-form-container.extend-bg-fullwidth-right::after {
		background-color: transparent;
	}

	.fitnesszone-form-container.extend-bg-fullwidth-right .vc_column-inner {
		padding-left: 30px !important;
		padding-right: 30px !important;
	}

	.fitnesszone-contact-boxes .wpb_text_column,
	.fitnesszone-contact-boxes .wpb_text_column:nth-child(2),
	.fitnesszone-contact-boxes .wpb_text_column:last-child,
	.fitnesszone-contact-boxes .wpb_text_column:nth-child(3) {
		width: 100%;
		padding: 10px 0px;
	}

	.hotel_blockquote-type4 blockquote.type4 {
		margin-top: 0;
	}

	.event-colored-box {
		margin-top: 0;
	}

	.event-contact-info.wpb_column {
		width: 320px;
		padding: 85px 30px 30px;
		float: none;
	}

	.gradient-parallax:before {
		background: -moz-linear-gradient(to right, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.75) 30%, rgba(242, 243, 246, 0.65) 40%, rgba(242, 243, 246, 0.55)60%, rgba(229, 229, 229, 0) 100%);
		background: -webkit-linear-gradient(to right, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.75) 30%, rgba(242, 243, 246, 0.65) 40%, rgba(242, 243, 246, 0.55)60%, rgba(229, 229, 229, 0) 100%);
		background: linear-gradient(to right, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.75) 30%, rgba(242, 243, 246, 0.65) 40%, rgba(242, 243, 246, 0.55)60%, rgba(229, 229, 229, 0) 100%);
		filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f2f3f6', endColorstr='#00e5e5e5', GradientType=1);
	}

	/*----*****---- << Hosting >> ----*****----*/
	.hosting-contact-info-container .dt-sc-contact-info.type7 span {
		left: 0;
	}

	.hosting-contact-info-container .dt-sc-contact-info.type7 {
		padding-left: 100px;
	}

	.rs_client_testimonial-center .dt-sc-image-flip a {
		position: relative;
		display: block;
	}

	.rs_client_testimonial-center .dt-sc-image-flip {
		text-align: center;
	}

	.hosting-table th {
		font-size: 13px;
		padding: 13px 10px;
		text-transform: capitalize;
	}

	.hosting-table tr td,
	.hosting-table tbody tr:nth-child(2n+1) td {
		font-size: 13px;
		padding: 21px 10px;
	}

	.hosting-contact-info-container:before {
		content: none;
	}

	.extend-bg-fullwidth-left::after {
		content: none;
	}

	/*----*****---- << Custom Class >> ----*****----*/
	.rs_col_no_btm_space .wpb_column,
	.rs_col_no_btm_space.wpb_column,
	.rs_negative-margin_override.vc_row {
		margin-left: 0 !important;
	}

	.rs_padding_override_zero.vc_row,
	.rs_padding_override_zero.wpb_column .vc_column-inner {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.secondary-skin-gradient .dt-sc-contact-info,
	.secondary-skin-gradient .dt-sc-contact-info span {
		font-size: 30px;
	}

	/*----*****---- << Custom Class >> ----*****----*/
	.rs_padding_override.vc_row,
	.rs_padding_override.wpb_column .vc_column-inner {
		padding-left: 50px !important;
		padding-right: 50px !important;
	}

	.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left:not(.vc_col-has-fill):after,
	.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left.vc_col-has-fill>.vc_column-inner:after,
	.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-right:not(.vc_col-has-fill):after,
	.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-right.vc_col-has-fill>.vc_column-inner:after {
		margin: 0 -15px;
		left: 0;
		right: 0;
		transform: none;
	}

	/*----*****---- << callout-box >> ----*****----*/
	.dt-sc-callout-box.type4 {
		border-radius: 25px;
	}

	.dt-sc-callout-box.type2.with-icon.border-style.alignleft>img {
		float: none;
		margin: 30px auto 0;
	}

	.dt-sc-callout-box.type2.with-icon.alignleft:not(.border-style).border-style h2,
	.dt-sc-callout-box.type2.with-icon.alignleft:not(.border-style).border-style p {
		width: 100%;
	}

	.dt-sc-callout-box.type2.with-icon.alignleft:not(.border-style).border-style {
		margin-bottom: 30px;
	}

	.dt-sc-callout-box.type2.with-icon.border-style h2,
	.dt-sc-callout-box.type2.with-icon.border-style p {
		width: 100%;
	}

	.dt-sc-callout-box.type2.with-icon.border-style.alignright>img {
		float: none;
		margin: 30px auto 0;
	}

	.dt-sc-callout-box.type2.with-icon.alignleft.border-style,
	.dt-sc-callout-box.type2.with-icon.border-style.alignright {
		padding: 0 20px 20px;
	}

	.dt-sc-callout-box img {
		max-width: 100%;
	}

	.dt-sc-callout-box.with-icon h4,
	.dt-sc-callout-box.type6.with-icon h5 {
		text-align: center;
	}

	.dt-sc-callout-box.type1,
	.dt-sc-callout-box.type2,
	.dt-sc-callout-box.type4,
	.dt-sc-callout-box.type5 {
		padding-left: 5%;
		padding-right: 5%;
	}

	.dt-sc-callout-box h4,
	.dt-sc-callout-box.type7 h4 {
		text-align: center;
		font-size: 16px;
	}

	.dt-sc-callout-box h5 {
		font-size: 14px !important;
		text-align: center;
		padding: 0px 10px;
	}

	/*----*****---- << callout-box >> ----*****----*/
	.dt-sc-callout-box .dt-sc-callout-content {
		text-align: center;
	}

	.dt-sc-callout-box.type2.with-icon.alignleft:not(.border-style)>img {
		float: none;
		margin: 20px auto;
	}

	.dt-sc-callout-box img,
	.dt-sc-callout-box.type7 img {
		float: none;
		margin: auto;
	}

	.dt-sc-callout-box .dt-sc-callout-button,
	.dt-sc-callout-box .dt-sc-callout-button a {
		text-align: center;
		float: none;
		display: inline-block;
	}

	.dt-sc-callout-box.type7 .dt-sc-callout-button,
	.dt-sc-callout-box .dt-sc-callout-button {
		margin-top: 25px;
	}

	.dt-sc-callout-box .dt-sc-callout-button a,
	.dt-sc-callout-box .dt-sc-button,
	.dt-sc-callout-box .with-icon .dt-sc-button,
	.dt-sc-callout-box .with-icon .dt-sc-button {
		margin: 10px auto;
		float: none;
		display: table;
		text-align: center;
	}

	.dt-sc-callout-box.type6:before {
		height: 92%;
	}

	.full-pattern5 .vc_col-sm-6:nth-child(1),
	.full-pattern5 .vc_col-sm-6:nth-child(2) {
		text-align: left;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.full-pattern5 .vc_col-sm-6:nth-child(1)>p,
	.full-pattern5 .vc_col-sm-6:nth-child(2)>p {
		text-align: left !important
	}

	.full-pattern5 :not(.dt-sc-title)>p {
		color: #FFF !important
	}

	.buddypress-wrap .bp-navs li {
		text-align: center;
	}

	.dt-sc-callout-box.type2.with-icon.alignleft:not(.border-style) h2,
	.dt-sc-callout-box.type2.with-icon.alignleft:not(.border-style) p {
		width: auto;
	}

}

/* Common Styles for the devices below 479px width */

@media only screen and (max-width: 479px) {
	.dt-header-tpl .dt-custom-login {
		float: none !important;
		display: inline-block !important;
		text-align: center;
	}

	.cart-info {
		float: none;
		width: 100%;
		display: inherit;
		line-height: normal;
		margin-bottom: 15px;
	}

	.main-title-section h1,
	h1.simple-title {
		font-size: 32px !important;
		margin-top: 5px;
	}

	/*----*****---- << Event location page >> ----*****----*/
	.event-contact-info.wpb_column {
		width: 100%;
		margin: 20px 0px 0px 0px;
	}

	.event-contact-info:before {
		left: 0px;
		width: 100%;
		background-size: 100%;
	}

	.event-contact-info .dt-sc-sociable li {
		margin-bottom: 20px;
	}

	/*----*****---- << Custom Class >> ----*****----*/
	.rs_padding_left-override.vc_row .vc_column-inner,
	.rs_padding_left-override.wpb_column .vc_column-inner {
		padding-left: 15px !important;
	}

	.vc_row.vc_row-no-padding .responsive-padding>.vc_column-inner {
		padding-right: 35px;
		padding-left: 35px;
	}

	.gradient-content .dt-sc-button.medium {
		padding: 14px 20px;
	}

	.overflow-content {
		margin: 0;
	}



	/*----*****---- << Hosting >> ----*****----*/
	.hosting-table th {
		text-transform: capitalize;
		font-size: 12px;
		padding: 13px 6px;
	}

	.hosting-table tr td,
	.hosting-table tbody tr:nth-child(2n+1) td {
		font-size: 12px;
		padding: 22px 8px;
	}

	/*----*****---- << Miscellaneous >> ----*****----*/
	.rs_fontsize_small {
		font-size: 40px !important;
	}

	.rs_padding_override.vc_row,
	.rs_padding_override.wpb_column .vc_column-inner {
		padding-left: 30px !important;
		padding-right: 30px !important;
	}

	/*----*****---- << Business >> ----*****----*/
	.business-contact-social li {
		margin: 0 15px;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

@media only screen and (max-width: 319px) {

	/*----*****---- << Event location page >> ----*****----*/
	.event-contact-info.wpb_column {
		padding-left: 20px;
		padding-right: 20px;
	}

	.event-contact-info .dt-sc-contact-info span {
		width: 100%;
		text-align: center;
		float: none;
		margin: 0;
	}

	/*----*****---- << Hosting contact Page >> ----*****----*/
	.hosting-contact-info-container:before {
		left: 0;
	}

	.hosting-contact-info-container .dt-sc-contact-info.type7 {
		padding-left: 0px;
	}

	.hosting-contact-info-container .dt-sc-contact-info.type7 span {
		left: 0px;
	}

	.hosting-contact-info-container:before {
		width: 100%;
	}

	/*----*****---- << Hosting Domain Page >> ----*****----*/
	.hosting-table th {
		font-size: 10px;
		padding: 13px 0;
	}

	.hosting-table tr td,
	.hosting-table tbody tr:nth-child(2n+1) td {
		font-size: 10px;
		padding: 21px 7px;
	}

	/*----*****---- << Common >> ----*****----*/
	.rs_fontsize_small {
		font-size: 32px !important;
	}

	/* http://prntscr.com/dydp42, http://prntscr.com/dydpkf */
	.rs_padding_override.vc_row,
	.rs_padding_override.wpb_column .vc_column-inner {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}

	/*----*****---- << Fitness Zone >> ----*****----*/
	.dt-sc-text-with-icon {
		font-size: 10px;
		padding-left: 15px;
	}

	.dt-sc-text-with-icon span {
		font-size: 15px;
		margin-right: 5px;
	}
}